
@media screen and (max-width: 480px) {
    #config{
        background-color: white;
        position: absolute;
        top: 0px;
        padding-left: 270px;
        padding-bottom: 25px;
        border-bottom: 2px solid rgb(135, 0, 255);
        height: 100px;
        border-radius: 5px;
        display: none;
    }
    
    #config h3 {
        position: relative;
        right: 250px;
    }
    
    #config #dark {
        position: relative;
        right: 250px;
        padding: 10px;
        background-color: rgb(135, 0, 255);
        border-radius: 10px;
        border: none;
        color: white;
    }

    #config #config-close {
        position: relative;
        padding: 2px;
        bottom: 45px;
        right: 28px;
        background-color: transparent;
        border: 1px solid rgb(135, 0, 255);
        border-radius: 100%;
    }
}