
@media screen and (max-width: 480px) {
    #config-menu{
        background-color: white;
        position: absolute;
        top: 0px;
        height: 660px;
        width: 1px;
        border-radius: 10px;
        overflow: hidden;
        border-right: 2px solid rgba(0, 0, 0, 0.467);
        z-index: 1;
        transition: .2s;
    }
    
    #config-menu h3 {
        position: relative;
        top: 20px;
        left: 10px;
        font-size: 15px;
    }
    
    #config-menu #dark {
        position: relative;
        top: 40px;
        left: 10px;
        padding: 10px;
        background-color: rgb(77, 113, 255);
        border-radius: 10px;
        border: none;
        color: white;
    }
}