
@media screen and (max-width: 480px) {
    #config{
        background-color: white;
        position: absolute;
        top: 0px;
        height: 660px;
        width: 1px;
        border-radius: 10px;
        overflow: hidden;
        border-right: 2px solid rgb(77, 113, 255);
        z-index: 1;
        transition: .2s;
    }
    
    #config h3 {
        position: relative;
        top: 20px;
        left: 10px;
        font-size: 15px;
    }
    
    #config #dark {
        position: relative;
        top: 40px;
        left: 10px;
        padding: 10px;
        background-color: rgb(77, 113, 255);
        border-radius: 10px;
        border: none;
        color: white;
    }

    #config #config-close {
        position: relative;
        padding: 2px;
        bottom: 20px;
        left: 28px;
        background-color: transparent;
        border: 1px solid rgb(77, 113, 255);
        border-radius: 100%;
    }
}