body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(28, 31, 43);
}

@media screen and (max-width: 480px) {

    #navbar {
        background-color: rgb(255, 255, 255);
        padding: 1px;
        padding-left: 10px;
        border-radius: 5px;
    }

    #navbar h3 {
        position: relative;
        color:  rgb(77, 113, 255);
    }

    #usuario {
        position: absolute;
        top: 5px;
        left: 230px;
        color: rgb(77, 113, 255);
    }

    #config-open {
        position: absolute;
        padding: 2px;
        top: 17px;
        left: 345px;
        background-color: transparent;
        border: 1px solid rgb(77, 113, 255);
        border-radius: 100%;
    }

    #desc {
        font-size: 14px;
        color: rgb(134, 134, 134);
    }

    #ficha {
        padding-top: 20px;
        padding-left: 20px;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 40%;
        overflow-x: scroll;
    }

    #treino_a h3, #treino_b h3, #treino_c h3, #treino_d h3, #treino_e h3 {
        font-size: 14px;
    }

    #treino_a, #treino_b, #treino_c, #treino_d, #treino_e{
        padding-top: 10px;
        padding-left: 40px;
        width: 170%;
        height: 425px;
        color: rgb(255, 255, 255);
        border: none;
        background-color: transparent;
        border-radius: 20px;
        border-bottom: 3px solid rgb(77, 113, 255);
        border-left: 3px solid rgb(77, 113, 255);
        font-size: 10px
    }

    #treino_a input, #treino_b input, #treino_c input, #treino_d input, #treino_e input{
        background-color: transparent;
        color: rgb(77, 113, 255);
        border: 1px solid rgb(77, 113, 255);
        border-radius: 10px;
        padding: 4px;
    }

    #salvar {
        position: relative;
        top: 10px;
        left: 20px;
        padding: 10px 40px;
        border-radius: 10px;
        border: none;
        background-color: rgb(77, 113, 255);
        color: white;
        z-index: 0;
    }

    #salvar:active {
        background-color: rgb(46, 68, 158);
    }
}